@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS 스타일 시트 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  margin: 0.5rem;
  display: block;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.nav-link:hover {
  color: gray;
}
